In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = 999

### Read in and format data

In [2]:
years = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [3]:
ff_dfs = [] # create empty list so we can eventually concat all dfs

for year in years: 
    df = pd.read_csv(f'./CSVs/four factors/league_four_factors_{year}.csv') # read in each csv and name appropriately
    df['year'] = f'{year}' # create a column to label the data by {year}
    df['team_year'] = df['Team'] + ' ' + df['year']
    ff_dfs.append(df) # add df to list
    
ff_df = pd.concat(ff_dfs) # concat all dfs in the list

percent_cols = ['OFFENSE: eFG%','OFFENSE: TOV%', 'OFFENSE: ORB%', 'DEFENSE: eFG%', 'DEFENSE: TOV%', 'DEFENSE: ORB%']

# Convert percentage columns to floats
for col in percent_cols:
    ff_df[col] = ff_df[col].str.rstrip('%').astype('float') / 100.0
    
ff_df.dropna(axis = 1, inplace= True) #drop the columns which contain NaNs.  These are the "ranking columns".
ff_df.drop(columns = ['W', 'L', 'Diff'], inplace = True)

ff_df.head()

,Team,OFFENSE: Pts/Poss,OFFENSE: eFG%,OFFENSE: TOV%,OFFENSE: ORB%,OFFENSE: FT Rate,DEFENSE: Pts/Poss,DEFENSE: eFG%,DEFENSE: TOV%,DEFENSE: ORB%,DEFENSE: FT Rate,year,team_year
0,Average,105.8,0.499,0.157,0.291,20.4,105.8,0.499,0.157,0.291,20.4,2013,Average 2013
1,Oklahoma City,112.2,0.529,0.161,0.286,28.6,101.7,0.471,0.157,0.293,19.2,2013,Oklahoma City 2013
2,Miami,113.4,0.557,0.152,0.252,22.6,104.2,0.494,0.171,0.309,19.9,2013,Miami 2013
3,LA Clippers,111.5,0.529,0.160,0.315,20.4,103.7,0.496,0.177,0.294,22.9,2013,LA Clippers 2013
4,San Antonio,108.0,0.531,0.154,0.232,20.6,101.1,0.482,0.156,0.271,18.0,2013,San Antonio 2013

In [4]:
play_context_halfcourt = []
for year in years: 
    df = pd.read_csv(f'./CSVs/play context/league_offense_halfcourt_and_putbacks_{year}.csv') # read in each csv and name appropriately
    df['year'] = f'{year}' # create a column to label the data by {year}
    df['team_year'] = df['Team'] + ' ' + df['year']
    play_context_halfcourt.append(df) # add df to list
    
playcontext_halfcourt_df = pd.concat(play_context_halfcourt) # concat all dfs in the list

# Convert percentage columns to floats
percent_cols = ['HALFCOURT: OREB%', 'HALFCOURT: % of Plays']
for col in percent_cols:
    playcontext_halfcourt_df[col] = playcontext_halfcourt_df[col].str.rstrip('%').astype('float') / 100.0
    
playcontext_halfcourt_df.dropna(axis = 1, inplace= True) #drop the columns which contain NaNs.  These are the "ranking columns"

playcontext_halfcourt_df.drop(columns = 'Pts/Poss', inplace = True) #already have this column in a previous df

playcontext_halfcourt_df.head()

,Team,HALFCOURT: Pts/Play,HALFCOURT: OREB%,HALFCOURT: % of Plays,PUTBACKS: Pts/Miss,PUTBACKS: Plays/Miss,PUTBACKS: Pts/Play,year,team_year
0,Average,87.4,0.294,0.802,19.0,17.5,105.5,2013,Average 2013
1,Atlanta,88.1,0.243,0.783,15.2,13.3,111.9,2013,Atlanta 2013
2,Boston,89.2,0.225,0.809,14.0,12.8,107.0,2013,Boston 2013
3,Brooklyn,89.8,0.332,0.819,20.4,19.9,98.7,2013,Brooklyn 2013
4,Charlotte,81.0,0.297,0.790,17.0,15.7,105.0,2013,Charlotte 2013

In [5]:
play_context_transition = []
for year in years: 
    df = pd.read_csv(f'./CSVs/play context/league_offense_transition_{year}.csv') # read in each csv and name appropriately
    df['year'] = f'{year}' # create a column to label the data by {year}
    df['team_year'] = df['Team'] + ' ' + df['year']
    play_context_transition.append(df) # add df to list
    
playcontext__transition_df = pd.concat(play_context_transition) # concat all dfs in the list

# Convert percentage columns to floats
percent_cols = ['ALL TRANSITION: Freq', 'OFF STEALS: Freq', 'OFF LIVE REBOUNDS: Freq']
for col in percent_cols:
    playcontext__transition_df[col] = playcontext__transition_df[col].str.rstrip('%').astype('float') / 100.0

playcontext__transition_df.dropna(axis = 1, inplace= True) #drop the columns which contain NaNs.  These are the "ranking columns"

playcontext__transition_df.drop(columns = 'Pts/Poss', inplace = True) #already have this column in a previous df
    
playcontext__transition_df.head()

,Team,ALL TRANSITION: Pts+/Poss,ALL TRANSITION: Freq,ALL TRANSITION: Pts/Play,OFF STEALS: Pts+/Poss,OFF STEALS: Freq,OFF STEALS: Pts/Play,OFF LIVE REBOUNDS: Pts+/Poss,OFF LIVE REBOUNDS: Freq,OFF LIVE REBOUNDS: Pts/Play,year,team_year
0,Average,3.7,0.141,125.4,2.1,0.582,140.1,1.7,0.266,117.6,2013,Average 2013
1,Atlanta,4.7,0.178,125.9,2.2,0.650,138.3,2.5,0.350,120.1,2013,Atlanta 2013
2,Boston,3.4,0.155,121.2,2.0,0.565,137.2,1.5,0.305,113.9,2013,Boston 2013
3,Brooklyn,2.7,0.111,120.8,1.8,0.496,139.8,0.8,0.202,109.4,2013,Brooklyn 2013
4,Charlotte,4.5,0.159,126.7,2.1,0.589,141.7,2.4,0.344,120.4,2013,Charlotte 2013

In [6]:
shooting_accuracy = []
for year in years: 
    df = pd.read_csv(f'./CSVs/shooting/league_offense_shooting_accuracy_{year}.csv') # read in each csv and name appropriately
    df['year'] = f'{year}' # create a column to label the data by {year}
    df['team_year'] = df['Team'] + ' ' + df['year']
    shooting_accuracy.append(df) # add df to list
    
shooting_accuracy_df = pd.concat(shooting_accuracy) # concat all dfs in the list

# Convert percentage columns to floats
percent_cols = ['eFG%', 'Loc eFG%', 'Rim', 'Short Mid', 'Long Mid', 'All Mid', 'Corner Three', 'Non Corner', 'All Three']
for col in percent_cols:
    shooting_accuracy_df[col] = shooting_accuracy_df[col].str.rstrip('%').astype('float') / 100.0
    
shooting_accuracy_df.dropna(axis = 1, inplace= True) #drop the columns which contain NaNs.  These are the "ranking columns"

shooting_accuracy_df.rename(columns = {'Rim': 'Accuracy at Rim', 'Short Mid':'Accuracy on Short Midrange', 'Long Mid': 'Accuracy on Long Midrange', 
                                       'All Mid': 'Accuracy on All Midrange', 'Corner Three':'Accuracy on Corner Threes', 'Non Corner': 'Accuracy on Non Corner Threes',
                                      'All Three': 'Accuracy on All Threes'}, inplace = True)
    
shooting_accuracy_df.head()

,Team,eFG%,Loc eFG%,Accuracy at Rim,Accuracy on Short Midrange,Accuracy on Long Midrange,Accuracy on All Midrange,Accuracy on Corner Threes,Accuracy on Non Corner Threes,Accuracy on All Threes,year,team_year
0,Average,0.499,0.504,0.604,0.384,0.396,0.391,0.390,0.358,0.367,2013,Average 2013
1,Atlanta,0.523,0.507,0.654,0.375,0.393,0.385,0.429,0.366,0.384,2013,Atlanta 2013
2,Boston,0.507,0.499,0.598,0.400,0.440,0.426,0.401,0.350,0.368,2013,Boston 2013
3,Brooklyn,0.503,0.505,0.589,0.412,0.405,0.408,0.405,0.345,0.367,2013,Brooklyn 2013
4,Charlotte,0.463,0.503,0.552,0.339,0.384,0.366,0.392,0.334,0.347,2013,Charlotte 2013

In [7]:
shooting_frequency = []
for year in years: 
    df = pd.read_csv(f'./CSVs/shooting/league_offense_shooting_frequency_{year}.csv') # read in each csv and name appropriately
    df['year'] = f'{year}' # create a column to label the data by {year}
    df['team_year'] = df['Team'] + ' ' + df['year']
    shooting_frequency.append(df) # add df to list
    
shooting_frequency_df = pd.concat(shooting_frequency) # concat all dfs in the list
shooting_frequency_df.head()

# Convert percentage columns to floats
percent_cols = ['eFG%', 'Loc eFG%', 'Rim', 'Short Mid', 'Long Mid', 'All Mid', 'Corner Three', 'Non Corner', 'All Three']
for col in percent_cols:
    shooting_frequency_df[col] = shooting_frequency_df[col].str.rstrip('%').astype('float') / 100.0
    
shooting_frequency_df.dropna(axis = 1, inplace= True) #drop the columns which contain NaNs.  These are the "ranking columns"

shooting_frequency_df.drop(columns = ['eFG%', 'Loc eFG%'], inplace = True)

shooting_frequency_df.rename(columns = {'Rim': 'Frequency Rim', 'Short Mid':'Frequency Short Midrange', 'Long Mid': 'Frequency Long Midrange',
                                       'All Mid': 'Frequency all Midrange', 'Corner Three': 'Frequency Corner Threes', 'Non Corner': 'Frequency Non Corner Threes',
                                       'All Three': 'Frequency All Threes'}, inplace = True)
    
shooting_frequency_df.head()

,Team,Frequency Rim,Frequency Short Midrange,Frequency Long Midrange,Frequency all Midrange,Frequency Corner Threes,Frequency Non Corner Threes,Frequency All Threes,year,team_year
0,Average,0.364,0.185,0.231,0.416,0.063,0.158,0.220,2013,Average 2013
1,Atlanta,0.348,0.166,0.222,0.388,0.075,0.189,0.264,2013,Atlanta 2013
2,Boston,0.353,0.163,0.289,0.452,0.070,0.125,0.195,2013,Boston 2013
3,Brooklyn,0.349,0.218,0.188,0.406,0.090,0.155,0.245,2013,Brooklyn 2013
4,Charlotte,0.388,0.178,0.250,0.427,0.040,0.145,0.185,2013,Charlotte 2013

### Merge all dfs into one singular df, `df_all`

In [8]:
ff_df.shape, shooting_accuracy_df.shape, shooting_frequency_df.shape, playcontext_halfcourt_df.shape, playcontext__transition_df.shape

((310, 13), (310, 12), (310, 10), (310, 9), (310, 12))

In [9]:
df1 = pd.merge(ff_df, shooting_accuracy_df)
df1.shape

(310, 22)

In [10]:
df2 = pd.merge(df1, playcontext_halfcourt_df)
df2.shape

(310, 28)

In [11]:
df3 = pd.merge(df2, playcontext__transition_df)
df3.shape

(310, 37)

In [12]:
df_all = pd.merge(df3, shooting_frequency_df)
df_all.shape

(310, 44)

In [13]:
df_all.head(2)

,Team,OFFENSE: Pts/Poss,OFFENSE: eFG%,OFFENSE: TOV%,OFFENSE: ORB%,OFFENSE: FT Rate,DEFENSE: Pts/Poss,DEFENSE: eFG%,DEFENSE: TOV%,DEFENSE: ORB%,DEFENSE: FT Rate,year,team_year,eFG%,Loc eFG%,Accuracy at Rim,Accuracy on Short Midrange,Accuracy on Long Midrange,Accuracy on All Midrange,Accuracy on Corner Threes,Accuracy on Non Corner Threes,Accuracy on All Threes,HALFCOURT: Pts/Play,HALFCOURT: OREB%,HALFCOURT: % of Plays,PUTBACKS: Pts/Miss,PUTBACKS: Plays/Miss,PUTBACKS: Pts/Play,ALL TRANSITION: Pts+/Poss,ALL TRANSITION: Freq,ALL TRANSITION: Pts/Play,OFF STEALS: Pts+/Poss,OFF STEALS: Freq,OFF STEALS: Pts/Play,OFF LIVE REBOUNDS: Pts+/Poss,OFF LIVE REBOUNDS: Freq,OFF LIVE REBOUNDS: Pts/Play,Frequency Rim,Frequency Short Midrange,Frequency Long Midrange,Frequency all Midrange,Frequency Corner Threes,Frequency Non Corner Threes,Frequency All Threes
0,Average,105.8,0.499,0.157,0.291,20.4,105.8,0.499,0.157,0.291,20.4,2013,Average 2013,0.499,0.504,0.604,0.384,0.396,0.391,0.390,0.358,0.367,87.4,0.294,0.802,19.0,17.5,105.5,3.7,0.141,125.4,2.1,0.582,140.1,1.7,0.266,117.6,0.364,0.185,0.231,0.416,0.063,0.158,0.220
1,Oklahoma City,112.2,0.529,0.161,0.286,28.6,101.7,0.471,0.157,0.293,19.2,2013,Oklahoma City 2013,0.529,0.501,0.652,0.409,0.423,0.417,0.423,0.362,0.378,93.0,0.289,0.787,20.4,18.4,108.7,5.8,0.157,135.8,2.8,0.622,147.3,2.9,0.285,129.2,0.354,0.193,0.236,0.430,0.058,0.158,0.216

In [14]:
# round all numerical columns to 3 decimal places
df_all = df_all.round(decimals = 3)

In [15]:
df_all.to_csv('./CSVs/full_merged_data.csv')